# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
logs/
vendor
etc/app.ini
micro-mall-users-consumer
micro-mall-users-consumer.pid
micro-mall-users--consumer-darwin-amd64
micro-mall-users-consumer-linux-amd64
micro-mall-users-consumer-windows-amd64.exe
micro-mall-users-consumer-windows-amd64
nohup.out